<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RootPassword" value="devroot"/>
    <add key="RootName" value="DevRoot"/>
    <add key="DeviceName" value="idsrv3test"/>
    <add key="DeviceDays" value="500"/>
    <add key="DevicePassword" value="idsrv3test"/>
    <add key="HostIpPort" value="0.0.0.0:44333"/>
  </appSettings>
</configuration>