<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RootPassword" value="12345"/>
    <add key="RootName" value="Team LEGO Root CA"/>
    <add key="DeviceName" value="*.ltfinc.dev"/>
    <add key="DeviceDays" value="500"/>
    <add key="DevicePassword" value="12345"/>
    <add key="HostIpPort" value="0.0.0.0:44333"/>
  </appSettings>
</configuration>